@charset "UTF-8";
html,body { height: 100%; }
/* 메인배너 */
#mainbanner {
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  position: relative;
}
#mainbanner .inner {
  height: 100vh;
  margin: 0 auto;
}
#mainbanner .maintitle a {
  display: block;
  position: absolute;
  text-align: center;
  width: 100%;
  left: 0;
}

.h_inner {
  width: 100%;
  height: 80px;
  background: rgba(255,255,255, 0);
  position: fixed;
  top: 0;
  overflow: hidden;

}
.category{
  height: 100%;

}
#list {
  float: left;
  overflow: hidden;
  list-style: none;
  line-height: 80px;
}
#list li {
  float: left;
  margin: 0 20px;
}
#list li a {
  color: red;
  font-size: 18px;
  font-weight: 700px;
}

#menu {
  float: right;
  list-style: none;
  overflow: hidden;
}
#menu li {
  float: left;
  margin: 0 10px;
}

#menu li a img {
  width: 32px;
  height: 32px;
}
#top_logo {
  width: 194px;
  margin: 0 auto
}
#top_logo a img{
  margin-top: 25px;
  width: 194px;
  height: 35px;
}
